CameraTest.xcodeproj/project.xcworkspace/xcuserdata/cgcai.xcuserdatad
CameraTest.xcodeproj/project.xcworkspace
CameraTest.xcodeproj/xcuserdata/cgcai.xcuserdatad/xcdebugger
CameraTest.xcodeproj/xcuserdata/cgcai.xcuserdatad/xcschemes
